mat-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 4rem;
    margin-bottom: 3.3rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

mat-card-title {
    padding-bottom: 2rem;
}

mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    overflow-y: scroll;
}
