<mat-toolbar color="primary">
    <a mat-icon-button target="_blank" href={{instagramLink}}>
        <mat-icon [svgIcon]="'instagram'"></mat-icon>
    </a>
    <a mat-icon-button target="_blank" href={{facebookLink}}>
        <mat-icon [svgIcon]="'facebook'"></mat-icon>
    </a>
    <a mat-icon-button target="_blank" href="mailto:more@paintballkalmar.se">
        <mat-icon>mail</mat-icon>
    </a>
    <a mat-button ="_blank" class="wizeguy-link" [href]="'https://www.wizeguy.se/'">
        Powered by Wizeguy
    </a>
</mat-toolbar>