.background {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.home {
    min-height: 500px;
}

.maps {
    background-color: white;
    min-height: 500px;
}

.about {
    background-color: lightgreen;
    min-height: 500px;
    display: flex;
    flex-direction: row;
}

.booking {
    background-color: lightcoral;
    min-height: 500px;
}