.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    animation: slide-in 0.4s ease-out;
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 1000;

    & h1 {
        margin-left: 50px;
        margin-bottom: 0;
    }
}

.mobile-container {
    animation: slide-in 0.4s ease-out;
    position: fixed;
    right: 0;
    margin: 1rem;

    & button {
        transform: scale(1.5);
    }
}

.link-container {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;

    & a {
        text-decoration: none;
        margin-right: 20px;
        display: flex;
        align-items: center;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: -1px;
        color: white;

        &:hover {
            color: rgba(255, 255, 255, 0.932);
        }

        &:active {
            color: rgb(255, 255, 255);
        }

        & mat-icon {
            margin-right: 0.8rem;
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-120%);
    }
    100% {
        transform: translateY(0);
    }
    
}