#map {
  height: 300px;
  margin: 20px 0;
  width: 100%; /* Ensure the map takes the full width of the container */
  box-sizing: border-box;
}

mat-card {
  background-color: rgb(138, 208, 138);
  box-sizing: border-box;
}

.marker {
  display: block;
  background: url('../../../assets/map-icon.webp') no-repeat center;
  width: 70px;
  height: 70px;
  background-size: contain;
}
