.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    padding: 4rem;
    height: min-content;
}

img {
    width: 80%;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    object-fit: cover;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 30%;
    height: min-content;

    & h2 {
        background-color: #673AB7;
        padding: 1rem;
        box-shadow: 5px 5px 0px 0px #4a2983;
        border-radius: 2px;
        margin-top: 1rem;
        font-size: 3rem;
        color: white;
        font-family: 'Audiowide', sans-serif;
        letter-spacing: 2px;
        max-width: 80%;
    }

    & p {
        margin: 1rem;
        font-size: large;
    }

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 2rem;
    }

    .map-container {
        width: 90vw;
    }
    
}

