<mat-toolbar color="primary">
  <button class="nav-btn" mat-icon-button color="" aria-label="Navigering" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
  </button>
  More Paintball
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-divider></mat-divider>
    <a routerLink="/" color="accent" mat-fab extended class="nav-link">
        <mat-icon>home</mat-icon>
        Hem
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/maps" color="primary" mat-fab extended class="nav-link">
        <mat-icon>stadium</mat-icon>
        Banor
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/find-us" color="primary" mat-fab extended class="nav-link">
        <mat-icon>pin_drop</mat-icon>
        Hitta hit
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/about" color="primary" mat-fab extended class="nav-link">
        <mat-icon>info</mat-icon>
        Om oss
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/booking" color="primary" mat-fab extended class="nav-link">
        <mat-icon>calendar_month</mat-icon>
        Boka
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/pricing" color="primary" mat-fab extended class="nav-link">
        <mat-icon>payments</mat-icon>
        Priser
    </a>
    <mat-divider></mat-divider>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
