<div class="container">
    <div class="inner-container">
            <h1>Välkommen att spela paintball på Kalmars nya bana!</h1>
            <p>

                Vi erbjuder ett skönt häng för kollegor, kompisgäng och alla som vill få den ultimata adrenalinkicken! Vår bana är designad för att ge en spännande och utmanande upplevelse för både nybörjare och erfarna spelare. Här kan ni testa era strategiska färdigheter, samarbetsförmåga och träffa mitt i prick med en skön dos action och spänning.</p>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="inner-container">
            <app-find-us></app-find-us>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quae ipsa voluptatum obcaecati quis labore sapiente, rerum consequuntur ad nostrum alias est excepturi aliquid molestiae asperiores, eveniet expedita quam praesentium?
            Blanditiis, ipsum dolorem provident placeat numquam id in repudiandae cum quas iusto ea deleniti sequi, soluta, cupiditate molestias? Officiis eos iste facilis quibusdam tempora odio magnam eius. Distinctio, officiis harum.</p>
    </div>
</div>