.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px; /* Add some padding if needed */
}

.inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60vh;
    box-sizing: border-box;
    width: 100%; /* Ensure it doesn't go outside the container */
    margin-bottom: 20px; /* Add space between inner containers */
    overflow: hidden; /* Prevent content overflow */
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
}

app-find-us {
    width: 100%;
    max-width: 600px; /* Set a reasonable max-width to prevent excessive stretching */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center the content */
}

.font-graph {
    position: relative;
    top: 150px;
    text-align: center;
    width: 50%;
    background-color: green;
    padding: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    transform: rotate(10deg);
    border-radius: 8px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.8rem;
    line-height: 2rem;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .inner-container {
        flex-direction: column;
        height: auto; /* Allow height to adjust in column mode */
    }

    img, app-find-us, p {
        width: 100%;
        max-width: 100%;
    }
}
